/* CSS Properties are in alphabetical order via Prettier */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

a.home-link {
  height: 30px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 30px;
}

.fa-arrow-alt-circle-left {
  color: black;
  font-size: 30px;
}
