@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

nav {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px;
  transition: width 0.8s linear;
  width: 80px;
}

nav.active {
  width: 350px;
}

nav ul {
  display: grid;
  grid-template: 1fr / 1fr;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: width 0.5s linear;
  width: 0;
}

nav.active ul {
  align-items: center;
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  width: 90%;
}

nav ul.active {
  align-items: center;
  display: flex;
  justify-content: space-around;
  opacity: 1;
  width: 90%;
}

nav ul li {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  transition: opacity 0.45s ease-out;
}

nav.active ul li {
  opacity: 0;
}

nav.active ul.active li {
  opacity: 1;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

button.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

button.icon:focus {
  outline: 0;
}

button.icon div.line {
  background-color: #5290f9;
  height: 2px;
  left: 5px;
  position: absolute;
  top: 10px;
  transition: transform 0.6s linear;
  width: 20px;
}

button.icon div.line2 {
  bottom: 10px;
  top: auto;
}

nav.active button.icon div.line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active button.icon div.line2 {
  transform: rotate(765deg) translateY(-5.5px);
}

a.home-link {
  height: 30px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 30px;
}

.fa-arrow-alt-circle-left {
  color: black;
  font-size: 30px;
}
