@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 20px;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  padding: 50px 20px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 800px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

h3 {
  letter-spacing: 2px;
  margin: 0;
  opacity: 0.5;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: lightslategray;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  flex: 1;
  font-size: 16px;
  margin: 2px;
  padding: 14px 40px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}

#saveJokesBtn {
  background-color: saddlebrown;
}

a.home-link {
  height: 30px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 30px;
}

.fa-arrow-alt-circle-left {
  color: black;
  font-size: 30px;
}
