@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

:root {
  --dark-blue: #5dbae8;
  --sky-blue: #82d1f1;
  --light-blue: #ace7f8;
  --soft-blue: #cbf3f9;
  --cream: #fffed1;
  --manilla: #f9e9b9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5dbae8;
  font-family: 'Muli', sans-serif;
}

main {
  margin: 15px;
}

header {
  align-items: center;
  background-color: #ace7f8;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

#title-area {
  margin: 10px;
}

#title-area a {
  color: black;
  font-style: italic;
  text-decoration: none;
}

nav {
  margin: 0 15px;
  width: 60%;
}

nav .nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
}

nav .nav-list .nav-item a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

nav .nav-list .nav-item a:hover {
  text-decoration: underline;
}

.introduction {
  background-color: var(--cream);
  border-radius: 10px;
  margin: 0px auto 10px;
  padding: 10px;
  width: 90%;
}

.introduction p {
  font-size: 20px;
}

.introduction small {
  font-style: italic;
}

#projects-area {
  border: 2px solid var(--cream);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
}

.project {
  border-radius: 10px;
  height: auto;
  margin: 10px 15px 100px;
  position: relative;
  width: 200px;
}

.project .top-project-card {
  background-color: var(--sky-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--manilla);
  border-radius: 10px 10px 0 0;
  height: 200px;
}

.top-project-card a {
  height: 100%;
  width: 100%;
}

.top-project-card a .link-div {
  height: 100%;
  width: 100%;
}

.project .project-info {
  background-color: var(--manilla);
  border: 2px solid var(--manilla);
  border-radius: 0 0 10px 10px;
  bottom: -7px;
  height: 100px;
  padding: 10px;
  position: absolute;

  transition: all 0.5s ease-out;
  width: 100%;
  z-index: -1;
}

.project-info.show-info {
  bottom: -97px;
}
