@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

header {
  align-items: center;
  background-color: lightgoldenrodyellow;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 10px;
  position: fixed;
  top: 0;
  width: 100vw;
}

header a.brand-name {
  color: #333;
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
}

header a.nav-link {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

header a.nav-link:hover {
  text-decoration: underline;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  width: 60%;
}

article {
  height: auto;
  margin: 80px 10px 0px;
  padding: 10px;
}

.search {
  height: 25px;
  padding-right: 10px;
  position: relative;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  height: 25px;
  transition: width 0.5s ease;
  width: 50px;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  height: 25px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
  width: 50px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}

.btn:hover {
  background-color: lightblue;
}

#options {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
  visibility: hidden;
}

.search.active #options {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  visibility: visible;
}

figure {
  background-color: #ccc;
  border: 2px solid black;
  float: left;
  margin: 20px 10px 10px;
  object-fit: contain;
  padding: 5px;
  width: 20%;
}

figure img {
  background-image: contain;
  height: 100%;
  width: 100%;
}

figure figcaption {
  font-size: 12px;
}

a.home-link {
  height: 30px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 30px;
}

.fa-arrow-alt-circle-left {
  color: black;
  font-size: 30px;
}
